/*
.selected_row{
    font-weight: bolder !important;
    font-style: oblique !important;
    background-color: burlywood !important;
}
*/

.clickable_row{
    cursor: pointer;
}
/*.clickable_row:hover{
    background-color:gold;
}*/

table.table_style>tbody>th,td{
    margin: 1em;
}

