
 

.selected_row{
    background-color:gold !important;
    color: lemonchiffon !important;
}

.btn-primary{
  background-color: darkolivegreen !important;
  color:lemonchiffon !important;
   border-width: 2px;
  border-color: darkolivegreen  !important;
  transition: all ease-in-out 300ms;
}

.btn-primary:hover{
  background-color: orange !important;
  color: darkolivegreen !important;

}

table{
    border-color: darkolivegreen !important;
    transition: all ease-in-out 300ms !important;
}

table>tbody>tr>td{
    color:darkolivegreen !important;
     transition: all ease-in-out 300ms !important;
}

.table > :not(:last-child) > :last-child > * {
	border-bottom-color: inherit;
	color:darkolivegreen !important;
    font-weight: bold;
    transition: all ease-in-out 300ms;
}

tr:hover > td {
    color: lemonchiffon !important;
    background-color: darkorange !important;
     transition: all ease-in-out 300ms !important;
}

.text-primary{
    color: darkolivegreen !important;
}



.clickable_row:hover{
    background-color: darkgreen !important;
    color:lemonchiffon !important;
     transition: all ease-in-out 1s !important;
}

.clue_cont section{
    border-right: 1px solid darkolivegreen !important;
}

.border-primary{
 border-color:darkseagreen !important;
 border-width: 2px !important;
}

.bg-primary{
    background-color: lemonchiffon !important;
}

