<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webcam Capture</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../../../../stylesheets/add_readings/style_ai.css">
</head>
<body>
 
    <article class="wrapper m-1 d-flex flex-column justify-content-center align-items-start">

        <!-- (A) VIDEO LIVE FEED -->
        <section>
        <video id="kam-live"  class="img-fluid img-thumbnail " autoplay></video>
        <div class="marker  text-center"> </div>
        </section>
          <p class="p">Please take a picture (IMPORTANT:readings must be in the red bar) for the recognition. After this push"recognize". </p>
        <!--decoded text-->
        <form action="" class="form" >
            <div class="m-0">
                <label for="exampleFormControlInput1" class="form-label">your readings:</label>
                <input type="text" class="w-100 m-0 form-control decoded" name="readings" id="readingsofcounter" placeholder="123">
                <input class="estate_id" name="estate_id" type="number"  hidden>
                 <input class="counter_id" name="counter_id" type="number"  hidden>
                
                
            </div>
        </form>
        <h5 class="h5 decoded" ></h5>
        <!-- (C) CONTROLS -->
        
        <div id="kam-controls" class="m-1 d-flex flex-column"> 
            <button id="kam-take" class="btn btn-primary m-1" >
                 photo_camera 
            </button>
            <a class="btn btn-primary m-2 final_lnk p-2" href="https://yahoo.com">Next step..</a>
            <button  class="btn btn-primary m-1 d-none" id="kam-save">
                 recognize..
                 <span class="spinner-border progress_ spinner-border-sm d-none" role="status" aria-hidden="true"></span>
            </button>
            
        </div>
        <!-- (B) SNAPSHOTS -->
        <div id="kam-snaps" class="m-1"  >
            
        </div>
        <h6 class="h6 m-1">Your previous readings is: <%= previous %></h6>
    </article>
   <script src="../../../../javascripts/new_readings/step_ai.js">
    </script>
</body>
</html>
